/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --accent-color: #FF0070;
  --dark-color: #000028;
  --light-color: #F1B2CE;
  --accent-title-color: #DB00FF;
  --shadow-title-color: #FF0070;

  --menu-hover-border: rgba(255, 0, 112, 0.40);
  --main-font: 'IBM Plex mono', sans-serif;
  --menu-color: var(--accent-color);
  --accent-text: var(--accent-color);
  --content-text: var(--light-color);
  --bg-text: var(--accent-color);
  --link-color: var(--accent-color);
  --text-color: var(--dark-color);
  --bg-color: var(--dark-color);
  --bg-img: url("../images/cover-image-dark.png");

}